/* UNIVERSAL STYLES ************/
* {
  box-sizing: border-box;
}

body {
  background-color: hsl(214, 64%, 98%);
}

/* CLASS STYLES*********** */

/*.header-gradient {
  /* position: relative; */
  /* top: -55px;
  left: 300px; */
  /* border-top-left-radius: 10px; 
  transform: rotate(35deg);
  background-image:  linear-gradient(to bottom, hsl(322, 100%, 66%),  hsl(265, 100%, 66%));
  height: 900px;
  margin-left: 500px;
  margin-top: 200px;
} */

.try-it-free-top-btn {
  background-color: yellow;
  padding: 5px 30px;
}

.body-get-started-free-btn {
  padding: 10px 30px;
  margin-top: 40px;
}

.illustration-users-img {
  margin-top: 100px;
  margin-bottom: 100px;
}

.body-try-it-free {
  margin: 100px auto;
  padding: 20px 10px 40px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 40px 30px 10px transparent ;
}

.copyright {
  font-size: 11x;
  color: white;
}


/* SELECTOR STYLES ************/

/* header {
  background-color: hsl(214, 64%, 98%);
} */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h2, h3, p {
  text-align: center;
}

h2, h3 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: strong;
}

p {
 font-family: "Open Sans", sans-serif;
 color: gray;
}

button {
  font-family: "Open Sans", sans-serif;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 800;
  text-align: center;
  /* border-radius: 5px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main section p {
  font-size: 13px;
}

main section button {
  padding: 10px 30px;
}

footer {
  background-color: black;  
  color: white;
  padding: 20px 0 5px;
  height: auto;
  text-align: center;
} 

footer img {  
  width: 50%;
  padding-top: 75px;
  padding-bottom: 50px;
  filter: saturate(0) invert(50%) brightness(900%);
}

footer ul {
  padding-top: 50px 0;
  text-align: left;
}

footer ul li {
  list-style-type: none;
  line-height: 2;
}

footer h4 {
  text-transform: uppercase;
  margin-top: 50px;
}

footer p {
  font-size: 13px;
  color: white;
  padding: 0 20px;
}

footer input {
  height: 45px;
  width: 300px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer button {
  height: 45px;
  width: 300px;
  margin-bottom: 100px;
}

i {
  display: inline-block;
  padding-right: 5px;
  font-size: 30px;
}


