/* UNIVERSAL STYLES ************/
* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}

body {
  background-color: hsl(214, 64%, 98%);
  margin-right: 0;
  margin-left: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 2px;
}


/* Header Styles*********** */
header {
  margin-bottom: 100px;
}

header img {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
  width: 30%;
}

.try-it-free-top-btn {
 display: inline;
 color: hsl(265, 100%, 66%);
 background-color: hsl(214, 64%, 98%);
 margin-left: 150px;
}

/*.header-gradient {
  /* position: relative; */
  /* top: -55px;
  left: 300px; */
  /* border-top-left-radius: 10px; 
  transform: rotate(35deg);
  background-image:  linear-gradient(to bottom, hsl(322, 100%, 66%),  hsl(265, 100%, 66%));
  height: 900px;
  margin-left: 500px;
  margin-top: 200px;
} */

/* header {
  background-color: hsl(214, 64%, 98%);
} */


/* Body & Footer Styles************/
main {
  padding: 65px;
  text-align: center;
}

h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: 700;
  margin-top: 50px;
}

h3, h4 {
  font-weight: 600;
}

h4 {
  margin-bottom: 10px;
}

p, button, ul {
  font-family: "Open Sans", sans-serif;
 }

 p {
   color: gray
 }

 .body-decorative-box {
   height: 435px;
   width: 490px;
   top: 295px;
   left: 30px;
   right: 0;
   z-index: -2;
   background-color: white;
   position: absolute;  
   transform: rotate(145deg); 
   color: transparent;
   border-radius: 30px;
 }

.feature-text {
  margin-bottom: 50px;
}

.illustration-users-img {
  margin-top: 300px;
  margin-bottom: 100px;
}

  /* Try it Free card styles near footer of page*/
.body-try-it-free {
  margin: 100px -40px 50px;
  padding: 10px 5px 40px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 10px #f1f1f1;
}

.body-get-started-free-btn {
  padding: 10px 30px;
}

main section p {
  font-size: 13px;
  margin-bottom: 20px;
}

main section button {
  padding: 10px 30px;
}

  /* footer styles */
footer {
  background-color: black;  
  color: white;
  padding: 20px 0 5px;
  height: auto;
  text-align: center;
} 

footer img {  
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  filter: saturate(0) invert(50%) brightness(900%);
}

footer ul {
  padding-top: 50px 0;
  text-align: left;
  color: white;
}

footer ul li {
  list-style-type: none;
  line-height: 2.5;
  font-size: 14px;
}

footer h4 {
  text-transform: uppercase;
  margin-top: 50px;
}

footer p {
  font-size: 13px;
  color: white;
  padding: 0 65px;
  text-align: center;
}

footer input {
  height: 45px;
  width: 300px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer button {
  height: 45px;
  width: 300px;
  margin-bottom: 100px;
}

/* Social Media Icons */
i {
  display: inline-block;
  padding-right: 10px;
  font-size: 30px;
}

.copyright {
  font-size: 11px;
  color: white;
}

.attribution { 
  font-size: 11px; 
  text-align: 
  center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}